.home {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}

.home__title {
  color: #d43e10;
  margin: 2vh 0;
}

.home__subtitle {
  margin: 0;
  margin: 2vh 0;
}

.project {
  color: #d43e10;
  margin: 10vh 0;
  text-decoration: none;
}